<?xml version='1.0' encoding='utf-8'?>
<widget id="com.terrafirmainc.Mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mobile_Banking</name>
    <description>
        Credit Union Mobile Banking Applictaion
    </description>
    <author email="atyler91@gmail.com" href="https://mail.google.com">
        Andrew Tyler
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
