/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top;
    position:absolute;
    left:50%;
    top:50%;
    height:50px;
    width:225px;    
    text-align:center;
    padding:200px 0px 0px 0px;
    margin:-115px 0px 0px -112px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;
                                      
    }
}

h1 {
    font-size:20px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
table { 
    border-collapse: collapse; 
    text-align: left;
    min-width: 100%; 
    background-image:none;
} 
table td, table th { 
    padding: 6px 0px; 
}

table th {
    min-width:6em;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color:#006699; 
    color:#FFFFFF;  
    border-left: 1px solid #0070A8; 
} 
table thead th:first-child { 
    border: none; 
}
table tbody td { 
    color: #00557F; 
    border-left: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: normal; 
}
table tbody .alt td { 
    background: #E1EEf4; 
    color: #00557F; 
}
table tbody td:first-child { 
    border-left: none; }
table tbody tr:last-child td { 
    border-bottom: none; 
}
table tfoot td div { 
    border-top: 1px solid #006699;
    background: #E1EEf4;} 
table tfoot td { 
    padding: 0; 
    font-size: 12px 
} 
table tfoot td div{ 
    padding: 2px; 
}
table tfoot td ul { 
    margin: 0; 
    padding:0; 
    list-style: none; 
    text-align: right; 
}
table tfoot  li { 
    display: inline; }
table tfoot li a { 
    text-decoration: none; 
    display: inline-block;  
    padding: 2px 8px; 
    margin: 1px;
    color: #FFFFFF;
    border: 1px solid #006699;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color:#006699; }
table tfoot ul.active, table tfoot ul a:hover { 
    text-decoration: none;
    border-color: #00557F; 
    color: #FFFFFF; 
    background: none; 
    background-color:#006699;}